@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.card {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: #737B9A;
    text-align: center;
}

h1 {
    font-family: "Yellowtail", cursive;
    font-size: 77.54px;
    font-weight: 400;
    line-height: 105.67px;
    color: #252930;
    margin-top: 10px;
    text-align: center;
}

p {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: #737B9A;
    text-align: center;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 33px;
    padding: 10px;
    border-radius: 74px;
    border: 2px;
    background-color: #4d73f8;
    color: white;
    cursor: pointer;
}

.img-1 {
    position: absolute;
    top: 0;
    right: 0;
}

.img-2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.img-3 {
    position: absolute;
    top: 0%;
    left: 0%;
}

.img-4 {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.svg {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

@media (max-width:576px) {
    .img-1 {
        width: 100px;
        height: 100px;
    }

    .img-2 {
        width: 100px;
        height: 100px;
    }

    .img-3 {
        width: 100px;
        height: 100px;
    }

    .img-4 {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 47px;
    }

    p {
        max-width: 120px;
    }

    .heading {
        max-width: 120px;
    }
}